body {
    background-image: url(https://opengameart.org/sites/default/files/4_81.png);
    background-repeat:no-repeat;
    background-size: cover;
    color: white;
    text-align: justify;
    font-size: 26px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 30px;
    align-content: center;
    align-self: center;
    align-items: center;
}

main{
    padding: 40px;
    margin: 30px;
}

h1 {
    text-align: center;
    margin-top: 100px;
}

nav {
    background-color: rgb(110, 192, 236);
    padding: 40px;
    border-radius: 30px;
    text-align: center;
    /*
    display: flex;
    justify-content: space-between;
    gap: 20px; */
    word-spacing: 300px;
    font-size: 34px;
}

nav>a {
    color: white;
}

footer {
    background-color: rgb(110, 192, 236);
    text-align: center;
    padding: 10px;
}

footer>a {
    color: rgb(110, 192, 236);
}
#brad_dom {
    text-align: center;
    line-height: 50px;
    font-size: 30px;
}

#brad_dom>img {
    border: 10px solid rgb(110, 192, 236);
    border-radius: 50px;
    width: 1500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#casal>img {
    border: 10px solid rgb(110, 192, 236);
    border-radius: 50px;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figure>figcaption {
    margin-top: 10px;
    text-align: center;
}